<link rel="stylesheet" type="text/css" href="../../../static/css/styleDict.css">
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<title>Results</title>
<center>
<h3>All searching is done and here is the results:</h3>
</center>
<table class="centered thick-border">
    <tr>
        <th colspan="2"><a href="https://mirna-target.herokuapp.com">Go back to search page</a></th>
    </tr>
    <tr>
        <th colspan="2">Number of concurrencies: {{ lengthoflist }}</th>
    </tr>
    <tr>
        <th>Gene ID</th>
        <th>Average Target Value</th>
    </tr>
    {% for w in data %}
    <tr>
        <td>{{ w }}</td>
        <td>{{ data[w] }}</td>
    </tr>
    {% endfor %}
</table>
