<link rel="stylesheet" type="text/css" href="../../../static/css/styleDict.css">
<title>Results</title>
<table class="centered thick-border">
    <tr>
        <th colspan="2"><a href="https://mirna-target.herokuapp.com">Go to search page</a></th>
    </tr>
    <tr>
        <th colspan="2">Number of concurrencies: {{ lengthoflist }}</th>
    </tr>
    <tr>
        <th>miRNA Name</th>
        <th>Average Target Value</th>
    </tr>    
    {% for w in data %}
    <tr>
        <td>{{ w }}</td>
        <td>{{ data[w] }}</td>
    </tr>
    {% endfor %}
</table>