<title>miRNA Target Scanner</title>
<center>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
    <h1>{{ message[1] }}</h1> <b><br><a> it may take up to 5 minutes to load, you wont get what you want if you aint be patient</a></b><br/><br/>
    {% endfor %}
{% endif %}
{% endwith %}
<form action="" method="post">
    {{ form.csrf }}
    <div class="input text">
        {{ form.name.label }} {{ form.name }}</div>
    <div class="input submit"><br />
        <input type="submit" value="Submit"></div>
</form>


</center>